@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-size: 14px;
  font-family: "SVN-Gotham";
  font-weight: 700;
  color: #1c1c1c;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("./assets/Fonts/SVN-GothamBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("./assets/Fonts/SVN-Gotham-Regular.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("./assets/Fonts/SVN-Gotham-Book.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("./assets/Fonts/SVN-GothamLight.ttf") format("truetype");
  font-weight: 300;
}
